
@media (min-width: 768px) {
    .footer-main{
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        background-color: #000;
        display: flex;
        flex-direction: row-reverse;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media(min-width: 768px){
    .footer-left,
    .footer-right{
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        margin: 5px 0;
    }


    body{
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        background-color: #000;
        margin-left: 330px;
    }



.footer{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding: 20px; 
}

.footer-nav{
    margin-top: 20px;
    margin-left: -40px;
}


.footer-content {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin-bottom: 20px;
    color: #fff; 
}

.footer-nav h1{
    margin-top:30px;
    margin-left: 60px;
    color: #FFD400;
}

.footer-nav hr{
    margin-left: 20px;
    height: 1%;
    border-radius: 10px;
    color: #fff;
    background-color: #fff;
}


.footer-nav h5{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    /* margin-bottom: 10px; */
    margin-left: 30px;
    background-color: #000;
}

.footer-left h3{
    font-weight: 800;
    font-size: 25px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 100px;
    /* margin: 0; */
    
}


.footer-left p {
    display: block;
    margin-left: 200px;
    flex-direction: column;
    margin: 5px 0;
    color: #fff; 
}



.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    margin: 5px 0;
    margin-right: 70px;
}



.footer-right h3{
    font-weight: 800;
    font-size: 25px;
}



.footer-right a{
    display: block; 
    margin: 5px 0;
    text-decoration: none;
    color: #fff; 
    line-height: 1.5;
}


.footer-right2{
    margin-top: 10;
    margin: 5px 0;
}



.footer-right2 h3{
    font-weight: 800;
    font-size: 25px;
    margin-right: 120px;
}



.footer-right2 a{
    display: block; 
    margin: 5px 0;
    text-decoration: none;
    color: #fff; 
    line-height: 1.5;
}
}