body, html {
    background-color: #EBECF0;
}
body, input, button {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    letter-spacing: -1px;
    font-size: 16px;
}

.segment{
    line-height: 50%;
}

input.placeholder{
    color: #4C83B7;
}

.segment h2{
    letter-spacing: -1px;
    color: #004E98;
}

div {
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFFFFF;
}


form {
    padding: 16px;
    width: calc(16px * 25);
    margin: 0 auto;
}

.button.check-icon{
    .horizontal-align {
        display: inline-block;
      }
    margin-left: 10px;
}
  

.segment {
    letter-spacing: -4px;
    padding: calc(16px * 2) 0;
    text-align: center;
    color: #004E98;
}

button.red {
    border-top-width: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
    width: fit-content;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4C83B7;
}

button.red:focus{
 background-color: #004E98;
 color: #ebebeb;
text-shadow: none;
}


button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: calc(16px * 20);
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFFFFF;
    
}

label {
    display: block;
    margin-bottom: calc(16px * 1.5);
    width: 100%;
}


input {
    margin-right: calc(16px / 2);
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    margin: 8px;
}


input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFFFFF;
}


button {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button.unit{
    border-top-width: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: right;
    align-content: end;
    margin: 0 auto;
    width: fit-content;
}

button.units-01,
button.units-02,
button.units-03 {
    margin: auto;
    text-align: center;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center; 
    padding: 20px; 
    border: none; 
    margin-left: 5%;
    margin-right: 3%;
}

button.units-01:focus,
button.units-02:focus,
button.units-03:focus{
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFFFFF;

}


kakao-icon {
    width: 1px; 
    height: 1px; 
    overflow: hidden; 
  }
  

input.passwordinput{
    margin-top: 8px;
    margin-bottom: 30px;
}

div.segment-icon{
    margin-left: 100px;
}

button.find-02{

    color: #4C83B7;   
    text-shadow: none;
    
    margin-top: 20px;
    margin-left: 135px;
    /* margin-right: 28px; */
    
    element.style {
        margin-left: 10px;
    }

    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px; */
    padding: 10px;

    border: none; 
    
    display: inline;
    flex-direction: row;
    
    text-align: center;
    justify-content: center; 
    /* border-right: 15%;  */
}

button.find-02:focus{
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFFFFF;
}