@media (min-width: 768px) {
    .body{
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        display: flex;
        flex-direction: row-reverse;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 30px;
    }
}


body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    /* font-size: large; */
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

.postCreatePage-main {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size:larger;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #004E98;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
