body,
html {
  background-color: #ebecf0;
}
body,
input,
button {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  letter-spacing: -1px;
  align-content: center;
}

h4 {
  margin-top: 100px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #004e98;
}

h1 {
  font-weight: 800;
  letter-spacing: -2px;
  font-size: 30px;
  text-align: center;
  margin-top: -5px;
  color: #004e98;
}

.segment {
  line-height: 50%;
}

input.placeholder {
  color: #4c83b7;
}

.segment h2 {
  letter-spacing: -1px;
  color: #004e98;
}

div {
  color: #babecc;
  text-shadow: 1px 1px 1px #ffffff;
}

form {
  padding: 16px;
  width: calc(16px * 25);
  margin: 0 auto;
}

.button.check-icon {
  .horizontal-align {
    display: inline-block;
  }
  margin-left: 10px;
}

.segment {
  letter-spacing: -4px;
  padding: calc(16px * 2) 0;
  text-align: center;
  color: #004e98;
}

button.red {
  border-top-width: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 20px;
  width: fit-content;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4c83b7;
}

button.red:focus {
  background-color: #004e98;
  color: #ebebeb;
  text-shadow: none;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: calc(16px * 20);
  padding: 10px;
  margin-top: 10px;
  margin-left: 160px;
  align-content: center;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #ffffff;
}

label {
  display: block;
  margin-bottom: calc(16px * 1.5);
  width: 100%;
}

input {
  margin-right: calc(16px / 2);
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  margin: 8px;
}

input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #ffffff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button.unit {
  border-top-width: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: right;
  /* align-content: end; */
  margin: 0 auto;
  width: fit-content;
}

button.units-01,
button.units-02,
button.units-03 {
  margin: auto;
  text-align: center;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
  padding: 20px;
  border: none;
  margin-left: 5%;
  margin-right: 3%;
}

button.units-01:focus,
button.units-02:focus,
button.units-03:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
}

kakao-icon {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input.passwordinput {
  margin-top: 8px;
  margin-bottom: 30px;
}

div.segment-icon {
  margin-left: 100px;
}

button.find-01 {
  color: #a6a6a6;
  text-shadow: none;

  margin-top: 40px;
  margin-left: 70px;
  /* margin-right: 15px; */

  element.style {
    margin-left: 10px;
  }

  /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px; */
  padding: 10px;

  border: none;

  display: inline;
  flex-direction: row;

  text-align: center;
  justify-content: center;
  /* border-right: 15%;  */
}

button.find-01:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
}

button.find-02 {
  color: #a6a6a6;
  text-shadow: none;

  margin-top: 40px;
  margin-left: 40px;
  /* margin-right: 28px; */

  element.style {
    margin-left: 10px;
  }

  /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px; */
  padding: 10px;

  border: none;

  display: inline;
  flex-direction: row;

  text-align: center;
  justify-content: center;
  /* border-right: 15%;  */
}

button.find-02:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
}
