.component {
  height: 72px;
  position: relative;
  width: 1920px;
}

.component .LOGO {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 150px;
  letter-spacing: -3px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 129px;
}

.component .LOGIN {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  /* height: 46px; */
  left: 1300px;
  letter-spacing: -2.38px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 129px;
}

.component .span {
  font-family: "Inter-Italic", Helvetica;
  font-style: italic;
}

.component .text-wrapper-2 {
  font-family: "Inter-BlackItalic", Helvetica;
  font-style: italic;
  font-weight: 900;
}

.component .div {
  color: #000000;
  font-family: "Inter-Italic", Helvetica;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  height: 49px;
  left: 1500px;
  letter-spacing: -2.38px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 108px;
}

.component .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-BlackItalic", Helvetica;
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  height: 29px;
  left: 1700px;
  letter-spacing: -2.85px;
  line-height: 8.3px;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 32px;
}

/* .component .RUNNING-HI-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
} */

.component .design-component-instance-node {
  font-family: "Inter-ExtraBold Italic", Helvetica !important;
  font-weight: 800 !important;
}
