.footer {
  height: 35vh;
  margin: auto 1.5% 1% 1.5%; // 상 우 하 좌
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 3% 0 5% 0;
  background-color: #000;
  color: #fefefe;

  .logo {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 0 10%;
  }

  .footer_list {
    display: flex;
    flex-direction: row;
    gap: 60px;
    letter-spacing: -1.5px;
    margin: -4% 0 0 10%;

    .footer_item {
      list-style: none;
      margin: 5% 0 -6% 0;

      .footer_link {
        text-decoration: none;
        color: inherit;
        font-size: 1.2rem;
      }
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    margin: 6% 15% -3% 10%;
    font-size: 1rem;
    letter-spacing: -0.5px;

    .designer {
      font-weight: bold;
    }
  }
}

// --------------------------------------------------------------
@media screen and (max-width: 768px) {
  .footer .logo {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0 0 0 10%;
  }

  .footer .footer_list {
    flex-direction: column;
    gap: 2px;
    margin: 1% 0 4% 10%;
  }

  .footer .footer-bottom {
    // flex-direction: column;
    // gap: 2px;
    display: none;
  }
}
