div.ContactUspage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  margin: 10% 0 0 0;
}

div.ContactUs-container {
  width: 80%;
  height: 90vh;
  overflow: auto;
  border: 1px solid hsla(0, 0%, 65%, 0.158);
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  z-index: 1;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  div.ContactUs-container2 {
    background: rgb(0, 0, 0);
    position: relative;
    width: 90%;
    height: 25%;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    z-index: 10;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: -35% 0 0 0;
  }
}
div.ContactUs {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  z-index: 99;
  font-weight: bold;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  letter-spacing: -3px;
  margin: 0 0 0 0;
  font-size: 2.5rem;
}

div.info-address {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  display: flex;
}
