div.login {
  margin: 10% 0 0 0; // 상 우 하 좌
  text-align: center;
  letter-spacing: 10px;
  font-size: 1.5rem;
  font-weight: 100;
}
div.logoname {
  color: black;
  // color: #294da9;
  margin: -3% 0 10% 0; // 상 우 하 좌
  font-size: 3.5rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  letter-spacing: -5px;
}

button.opacity {
  text-align: center;
  background-color: black;
  color: white;
  display: block;
  padding: 2% 0 2.5% 0; // 상 우 하 좌
  border-radius: 50px;
  font-size: 1.2rem;
  letter-spacing: -1px;
  width: 40%;
  cursor: pointer;
  margin: 5% 0 7% 30%; // 상 우 하 좌
  transition: all 0.1s ease-in-out;
  border: none;

  &:hover {
    font-weight: bold;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  position: relative;
  width: 35rem;

  .form-container {
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    z-index: 99; // 맨 앞으로 돌출되도록!
    padding: 2rem;
  }

  form input {
    text-align: center;
    border-radius: 50px;
    display: block;
    padding: 3%;
    width: 100%;
    margin: 1rem 0;
    background-color: #9191911f;
    border: none;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 1rem;
    backdrop-filter: blur(15px);

    &:focus {
      box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
      animation: wobble 0.3s ease-in;
    }
  }
}

div.signupletter {
  font-size: 0.8rem;
  margin: 0 0 -1.5% 0;
  // font-weight: bold;
}

a.signup {
  font-size: 1.3rem;
  margin: -5% 0 0 0; // 상 우 하 좌
  text-decoration: underline;
  &:hover {
    font-weight: 600;
    transform: scale(1.02);
  }
}

a.findid {
  font-size: 0.75rem;
  margin: 0 5% 0 0;
  text-decoration: underline;
  &:hover {
    font-weight: 600;
    transform: scale(1.02);
  }
}
a.findpw {
  font-size: 0.75rem;
  margin: 0 0 0 5%;
  text-decoration: underline;
  &:hover {
    font-weight: 600;
    transform: scale(1.02);
  }
}

.register {
  letter-spacing: -2px;
  margin: 1rem 0;
  text-align: center;
}
.forget {
  margin: 2% 0 7% 0;
  text-align: center;
  letter-spacing: -2px;
  gap: 100px;
  justify-content: space-between;
}
