@media (min-width: 768px) {
    .modal{
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        display: flex;
        flex-direction: row-reverse;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}


.modal{

}

.modal2{

}

.modal-overlay{

}

.modal-window{

    
}