
@media (min-width: 768px) {
    .body{
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        display: flex;
        flex-direction: row-reverse;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


.postListPage-main {
    /* align-items: center; */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.page-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.page-button:hover {
    background-color: #f0f0f0;
}
